body {
  background: #2e2e2e;
  color: beige;
  font-family: "Dosis", sans-serif;
}
a {
  color: beige;
}

h1 {
  text-align: center;
  padding: 10px;
  margin: auto;
}

#container {
  display: flex;
}

#filter {
  display: flex;
  flex-direction: column;
  float: right;
  width: 20%;
  border: 2px solid beige;
  height: 700px;
  border-radius: 10px;
  margin-top: 12px;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  margin-top: 0%;
  width: 90%;
}

.movie {
  padding: 2px;
  flex-direction: row;
  margin: 5px;
}

.movie img {
  display: block;
  width: 180px;
  height: 270px;
  border-radius: 5%;
  padding: 5px;
  transition: transform 0.5s;
}

.movie img:hover {
  transform: scale(1.03);
}

.title {
  font-size: 17px;
  color: white;
  text-decoration: none;
}

.title:hover {
  color: darkgray;
}

input[type="search"] {
  width: 170px;
  margin: 10px;
  padding: 10px 16px;
  border-radius: 32px;
  outline: none;
  border: 2px solid darkgray;
  background: rgb(20, 20, 20);
  transition: all 0.5s;
}
input[type="search"]:focus {
  background: beige;
  width: 230px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.inicio {
  margin-top: 16px;
  margin-right: 100px;
  text-decoration: none;
  font-size: 20px;
}

#filter h2 {
  text-align: center;
}

#filter h3 {
  margin-left: 20px;
  margin-bottom: 10px;
}
#filter #genero {
  margin-left: 20px;
  box-sizing: border-box;
}

#filter .botonFiltro {
  margin-top: 10%;
  margin-left: 40%;
  background-color: #272323;
  color: beige;
  border: 2px solid darkgray;
  border-radius: 32px;
  background: rgb(20, 20, 20);
  width: 67px;
  height: 28px;
  cursor: pointer;
}

#a-z {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  float: left;
  margin-left: 8%;
  align-content: center;
}

#a-z button {
  min-width: 27px;
  margin: 1%;
  cursor: pointer;
}

@media only screen and (max-width: 872px) {
  #filter {
    display: none;
  }
}

@media only screen and (max-width: 696px) {
  .movie {
    padding: 1px;
    flex-direction: row;
    margin: 1%;
  }
  .movie img {
    display: block;
    width: 80px;
    height: 120px;
    border-radius: 5%;
    padding: 5px;
    transition: transform 0.5s;
  }
  .title {
    font-size: 10px;
    color: white;
    text-decoration: none;
  }
}
