* {
  box-sizing: border-box;
}

body {
  background: #2e2e2e;
  color: beige;
  font-family: "Dosis", sans-serif;
}

a {
  color: beige;
}

.titulo {
  text-align: center;
  padding: 10px;
  margin: auto;
}

/*Header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
}

/*Busqueda por nombre*/
input[type="search"] {
  width: 170px;
  padding: 10px 16px;
  border-radius: 32px;
  outline: none;
  border: 2px solid darkgray;
  background: rgb(20, 20, 20);
  transition: all 0.5s;
}

input[type="search"]:focus {
  background: beige;
  width: 230px;
}

/*Link inicio*/
.header-inicio-link {
  text-decoration: none;
  font-size: 20px;
}

/*Contenido general*/
.section-contenido {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
}

@media (max-width: 1100px) {
  .section-contenido {
    justify-content: center;
  }
}

/*Contenedor de las peliculas*/
.contenedor-peliculas {
  width: 80%;
  display: flex;
  justify-content: center;
}

/*Div peliculas*/
.item-peliculas {
  display: flex;
  text-align: center;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 0%;
}

/*Imagen de cada pelicula*/
.item-peliculas img {
  display: block;
  width: 180px;
  height: 270px;
  border-radius: 5%;
  padding: 5px;
  transition: transform 0.5s;
}

@media (max-width: 770px) {
  .contenedor-peliculas {
    width: 100%;
  }
  .item-peliculas img {
    width: 130px;
    height: 150px;
  }
  .item-peliculas {
    text-align: center;
    justify-content: center;
    margin-top: 0%;
  }
}

.item-peliculas img:hover {
  transform: scale(1.03);
}

.item-peliculas .title {
  text-decoration: none;
}

/*Contenedor filtrados*/
.contenedor-search-filter {
  display: flex;
  flex-direction: column;
  width: 19%;
  border: 2px solid beige;
  height: 550px;
  border-radius: 10px;
}

.search-filter-titulo {
  font-size: 17px;
  color: white;
  text-decoration: none;
}

.search-filter-titulo:hover {
  color: darkgray;
}

.contenedor-search-filter h2 {
  text-align: center;
}

.contenedor-search-filter h3 {
  margin-left: 20px;
  margin-bottom: 10px;
}

/*Filtrado por genero*/
.contenedor-search-filter .search-genero {
  margin-left: 20px;
  margin-bottom: 10px;
}

/*Filtrado por letras*/
.search-letter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  float: left;
  margin-left: 20px;
  align-content: center;
}

.search-letter button {
  min-width: 27px;
  margin: 2px;
  cursor: pointer;
}

@media (max-width: 1060px) {
  .contenedor-search-filter {
    display: none;
  }
}
